#category-bar
    .category-bar-items#category-bar-items
        .category-bar-item(id='首页')
            a(href="/") 首页
        .category-bar-item(id='全部文章')
            a(href="/archives/") 全部文章
        .category-bar-item(id='生活记录')
            a(href="/categories/生活记录/") 生活记录
        .category-bar-item(id='学习笔记')
            a(href="/categories/学习笔记/") 学习笔记
        .category-bar-item(id='建站教程')
            a(href="/categories/建站教程/") 建站教程
        .category-bar-item(id='技艺驳杂')
            a(href="/categories/技艺驳杂/") 技艺驳杂
        .category-bar-item(id='闲聊杂谈')
            a(href="/categories/闲聊杂谈/") 闲聊杂谈
        .category-bar-item(id='佳作推荐')
            a(href="/categories/佳作推荐/") 佳作推荐
        .category-bar-item(id='其他内容')
            a(href="/categories/佳作推荐/") 佳作推荐
        .category-bar-item(id='测评推荐')
            a(href="/categories/测评推荐/") 测评推荐
    a.category-bar-more(href="/categories/") 更多